/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

#root{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
 .none	{
 		display:	none	!important;
 }
 .news__readmore{
   margin-top: -10px;
   padding-left: 15px;
   margin-bottom: 5px;
 }
 .panel-body{
   margin-bottom: 0;
   padding-bottom: 10px;
 }

.add	{
		margin:	0	5px	20px	0;
		width:	100%;
		padding:	5px;
    padding-bottom: 25px;
}
.add__author,	.add__text,	.add__btn,	.add__checkrule	{
		display:	block;
		margin:	0	0	5px	0;
		padding:	5px;
		width:	100%;
}
.add__checkrule	{
		border:	none;
		font-size:	16px;
    display: inline;
}
.add__btn	{
		box-sizing:	content-box;
		color:	#FFF;
		background:	#007DDC;
    width: 200px;
    float: right;
    margin: 5px;
    margin-top: 5px;
    display: inline;
}
.add__btn:disabled	{
		background:	#CCC;
		color:	#999;
}
